<div class="container">
  <ol>
    <% Post.all.each do |post|%>
    <li>
      <a href='/post/<%= post.id %>'><%= post.title %> </a>
      <%= post.created_at %>
      <a href='/profile/<%=post.user_id%>'><%= User.find(post.user_id).username%></a>
      <%= Comment.where("post_id = ?", post.id).length%> comments
    </li>
    <% end %>
  </ol>
</div>
